.App {
  background-color: #0D1323;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.HeaderMain {
  display: flex;
  width: 254px;
  height: 516px;
  background: #1D204B;
  border-radius: 20px;
  flex-direction: column;
  padding-bottom: 15px;
  margin-right: 15px;
}

.Header {
  display: flex;
  flex-direction: column;
  height: 353px;
  top: 254px;
  background: #5746EA;
  border-radius: 20px;
  padding-top: 34px;
  padding-left: 37px;
  margin-bottom: 15px;
  }

.Date {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #5F659E;
  margin-top: 8px;
  margin-left: 37px;
}

.Photo {
  width: 80px;
  height: 80px;
  background: #1D204B;
  border: 3px solid #FFFFFF;
  border-radius: 100px;
  margin-bottom: 20px;
}

.Title {
  padding-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #B5ADFF;
}

.Name {
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  color: #FFFFFF;
}

.CardMain{
  display: flex;
  flex-direction: column;
  width: 254px;
  height: 250px;
  background: #FD8C64;
  border-radius: 25px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
  align-items: flex-end;
  justify-content: center;
}

.Card{
  display: flex;
  width: 214px;
  height: 230px;
  background: #1D204B;
  border-radius: 20px;
  padding-left: 41px;
  margin-top: -20px;
}

.Activitie{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #FFFFFF;
  margin-top: 33px;
  margin-bottom: 15px;
  justify-content: space-between;
}

.Hours{
  font-style: normal;
  font-weight: 300;
  font-size: 55px;
  color: #FFFFFF;
}

.Past{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #5F659E;
  margin-top: 5px;
}

.Img{
  margin-top: 33px;
  margin-left: 20px;
}

.bottonText{
  background: #1D204B;
  border-color: #1D204B;
  border: none;
  outline: none;
  cursor: pointer;
  align-items: flex-start; 
  display: flex;
}